{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Product Comments</h2>
        </div>
        <div class="col-12 mt-3">
            <h3 class="text-center">Update a Comment</h3>
        </div>
    </div>
    <div class="row mt-3 custom-margin">
        <div class="col-12 col-md-6 offset-md-3">
            <!-- Add Comment form -->
            <form action="{% url 'product_comment' %}" method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button class="btn btn-blue" type="submit" >Update Comment</button>
                    <a href="{% url 'product_comment' %}" class="btn btn-grey" aria-label="Link to cancel add comment form">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}